@model Online_Glossery_Project_2025.Models.Product

<h2>Add Product</h2>

<form method="get" asp-action="AddProduct">
    <div class="mb-3">
        <label class="form-label">Category</label>

        <select class="form-select" name="Id" onchange="this.form.submit()">
            <option value="">-- Select Category --</option>

            @foreach (var cat in ViewBag.Categories)
            {
                if (Model.CetegoryID == cat.CetegoryID)
                {
                    <option value="@cat.CetegoryID" selected>@cat.CetegoryName</option>
                }
                else
                {
                    <option value="@cat.CetegoryID">@cat.CetegoryName</option>
                }
            }
        </select>
    </div>
</form>

<form method="post" asp-action="AddProduct" enctype="multipart/form-data">

    <input type="hidden" asp-for="CetegoryID" />

    <div class="mb-3">
        <label class="form-label">Sub Category</label>
        <select class="form-select" asp-for="SubCetegoryID">
            <option value="">-- Select SubCategories --</option>

            @foreach (var sub in ViewBag.SubCategories)
            {
                <option value="@sub.SubCetegoryID">@sub.SubCetegoryName</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Product Name</label>
        <input asp-for="ProductName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Product Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Cost</label>
        <input asp-for="Cost" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
